{% extends "base-lmsadmin.html" %}
{% block title %}LMS Admin Portal{% endblock %}

<h1>Test</h1>

{% block content-wrapper %}
{% load static %}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Dashboard</h1>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                    <h3>{{ total_user_count }}</h3>
    
                    <p>Registered Users</p>
                    </div>
                    <div class="icon">
                    <i class="fas fa-users"></i>
                    </div>
                    <a href="{% url 'admin_all_users' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                    <h3>{{ total_admin_count }}</h3>
    
                    <p>Registered Educators</p>
                    </div>
                    <div class="icon">
                    <i class="fas fa-graduation-cap"></i>
                    </div>
                    <a href="{% url 'admin_list_admins' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                    <h3>{{ total_course_count }}</h3>
    
                    <p>Courses</p>
                    </div>
                    <div class="icon">
                    <i class="fas fa-book"></i>
                    </div>
                    <a href="{% url 'admin_course_list' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
    </div>
</div>

{% endblock %}