{% extends "base-lmsadmin.html" %}
{% block title %}LMS Admin Portal{% endblock %}

<h1>Test</h1>

{% block content-wrapper %}
{% load static %}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Import Users</h1>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Import Users</h3>
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-sm-6">
                                <form id="csvform" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="title">CSV File</label><br/>
                                        {{ form.csv_file }}
                                    </div>
                                </form>
                                <!-- /.form -->
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <input type="submit" class="btn btn-primary" value="Submit" form="csvform" />
                    </div>
                    <!-- /.card-footer -->
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}