{% extends "base-student.html" %}
{% block title %}Submit Assignment{% endblock %}
{% load static %}
{% block content-wrapper %}

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- Assignment Upload Form -->
      <div class="col-12 col-sm-6 col-md-8">
        <div class="card">
          <div class="card-body">
            <h4>Submit Assignment for {{ course.name }}</h4>
            <form id="upload-form" method="post" enctype="multipart/form-data" action="">
              {% csrf_token %}
              <div class="dropbox" id="dropbox">
                Drag & Drop files here or click to upload
              </div>
              <input type="file" id="file-input" name="file">
              <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
