{% extends "base-student.html" %}
{% block title %}View Assignment{% endblock %}
{% block content-wrapper %}
{% load static %}
{% load markdownify %}

<!-- Header -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">{{ course_info.course_name }} [{{course_info.start_date}} to {{course_info.end_date}}]</h1>
            </div>
    
            <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'course' course_info.course_id %}">{{ course_info.course_name }} [{{course_info.start_date}} to {{course_info.end_date}}]</a>
                    </li>
                    <li class="breadcrumb-item active">{{ assignment_info.title }}</li>
            </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">View assignment</h3>
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <!-- text input -->
                                <div class="form-group">
                                    <h3>{{ assignment_info.title }}</h3>
                                    <em>Due at {{ assignment_info.due_at }}</em>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- textarea -->
                                <div class="form-group">
                                    <p class="latest-anouncement">
                                        {{ assignment_info.content|markdownify }} 
                                    </p>
                                </div>
                            </div>
                        </div>

                        {% if not request.is_admin %}
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- form for assignment submission -->
                                
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{ form.file.label_tag }}
                                        {{ form.file }}
                                    </div>

                                    <button type="submit" class="btn btn-primary">Submit Assignment</button>
                                </form>
                            </div>
                        </div>
                        {% endif %}

                        <hr/>
                        
                        {% if not request.is_admin %}
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- display previous submissions -->
                                <h4>Previous Submissions</h4>
                                <p><em>Only the latest (top most in list) ones will be considered as final submission.</em></p>
                                <ul>
                                    {% for submission in previous_submissions %}
                                        <li>
                                            <a href="{{ submission.sas_url }}" target="_blank">{{ submission.file.name }}</a> - Uploaded at {{ submission.uploaded_at }}
                                            {% if submission.grade %}
                                            <strong>(Grade: {{ submission.grade }} / 100)</strong>
                                            {% endif %}
                                        </li>
                                    {% empty %}
                                        <li>No previous submissions.</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <!-- /.card-body -->

                    {% if request.is_admin %}
                    <div class="card-footer">
                        <a href="{% url 'view_submission' 2 assignment_info.id %}" class="btn btn-primary">View Submissions</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}