{% extends "base-student.html" %}
{% block title %}Assignments{% endblock %}
{% load static %}
{% block content-wrapper %}

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- Assignment Table -->
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4>Assignments for {{ course.name }}</h4>
            <table class="table">
              <thead>
                <tr>
                  <th>Folder</th>
                  <th>Completion Status</th>
                </tr>
              </thead>
              <tbody>
                {% for assignment in assignments %}
                <tr>
                  <td>{{ assignment.name }}</td>
                  <td>
                    {% if assignment.submitted %}
                    <a href="{% url 'assignment_submit' course.id assignment.id %}">Submitted</a>
                    {% else %}
                    <a href="{% url 'assignment_submit' course.id assignment.id %}">Not Submitted</a>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
