{% extends "base-student.html" %}
{% block title %}Student Dashboard{% endblock %}

{% block content-wrapper %}
{% load static %}
<style>
    .popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
}
</style>
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Dashboard</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="{% url 'dashboard' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">My Courses</h5>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                                    <i class="fas fa-wrench"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" role="menu">
                                    <a href="#" class="dropdown-item">Action</a>
                                    <a href="#" class="dropdown-item">Another action</a>
                                    <a href="#" class="dropdown-item">Something else here</a>
                                    <a class="dropdown-divider"></a>
                                    <a href="#" class="dropdown-item">Separated link</a>
                                </div>
                            </div>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            {% for course in my_courses %}
                            <div class="col-12 col-sm-6 col-md-4">
								<div class="small-box bg-info">
									<div class="inner">
									  <h4>{{ course.course }}</h4>
									  <p>AY2023/24 Trimester 3</p>
									</div>
									<div class="icon">
									  <i class="fas fa-shopping-cart"></i>
									</div>
									<a href="{% url 'course' course.course_id %}" class="small-box-footer">
									  View Course <i class="fas fa-arrow-circle-right"></i>
									</a>
								</div>								  
							</div>
                            {% endfor %}
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- ./card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <div class="col-md-6">
                <!-- DIRECT CHAT -->
                <div class="card direct-chat direct-chat-warning" id="directChat">
                    <div class="card-header">
                        <h3 class="card-title" id="chat_title">Chat Messenger</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" title="Contacts" data-widget="chat-pane-toggle">
                                <i class="fas fa-comments"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <!-- Conversations are loaded here -->
                        <div class="direct-chat-messages">
                            <div class="chat__item__container" id="id_chat_item_container" style="font-size: 20px">
                                <span>No Chat Selected</span>
                            </div>
                        </div>
                        <!--/.direct-chat-messages-->
                        <!-- Contacts are loaded here -->
                        <div class="direct-chat-contacts">
                            <ul class="contacts-list">
                                <li>
                                    <button class="group-button"onclick="openForm()">New Chat</button>
                                </li>
                                {% for chat in chats %}
                                <li class="contacts-list-item" data-room="{{chat.id}}">
                                        <!-- <img class="contacts-list-img" src="{% static 'adminlte/dist/img/user1-128x128.jpg' %}" alt="Group Picture"> -->
                                        <div class="contacts-list-info">
                                            <span class="contacts-list-name"> {{chat.name}}
                                            </span>
                                            {%if chat.creator == user.id%}
                                            <button class="group-button" onclick="viewGroup('{{chat.id}}')">Edit</button>
                                            <button class="destroy-button" onclick="destroyGroup('{{chat.id}}')">Delete</button>
                                            {% else %}
                                            <button class="group-button" onclick="viewGroup('{{chat.id}}')">View</button>
                                            <button class="leave-button" onclick="leaveGroup('{{chat.id}}')">Leave</button>
                                            {% endif %}
                                        </div>
                                </li>
                                {% endfor %}
                                    <!-- /.contacts-list-info -->
                            </li>
                                <!-- End Contact Item -->
                            </ul>
                            <!-- /.contacts-list -->
                        </div>
                        <!-- /.direct-chat-pane -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="input-group">
                            <input type="text" id="id_message_send_input" name="message" placeholder="Type Message ..." class="form-control">
                            <span class="input-group-append">
                                <button type="button" id="id_message_send_button" class="btn btn-warning">Send</button>
                            </span>
                        </div>
                    </div>
                    <!-- /.card-footer-->
                </div>
                <!--/.direct-chat -->
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Events</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <ul class="products-list product-list-in-card pl-2 pr-2">
                            <li class="item">
                                <div class="product-img">
                                    <img src="{% static 'adminlte/dist/img/default-150x150.png' %}" alt="Product Image" class="img-size-50">
                                </div>
                                <div class="product-info">
                                    <a href="javascript:void(0)" class="product-title">Event 1</a>
                                    <span class="product-description"> Event 1 description </span>
                                </div>
                            </li>
                            <!-- /.item -->
                            <li class="item">
                                <div class="product-img">
                                    <img src="{% static 'adminlte/dist/img/default-150x150.png' %}" alt="Product Image" class="img-size-50">
                                </div>
                                <div class="product-info">
                                    <a href="javascript:void(0)" class="product-title">Event 2</a>
                                    <span class="product-description"> Event 2 description </span>
                                </div>
                            </li>
                            <!-- /.item -->
                            <li class="item">
                                <div class="product-img">
                                    <img src="{% static 'adminlte/dist/img/default-150x150.png' %}" alt="Product Image" class="img-size-50">
                                </div>
                                <div class="product-info">
                                    <a href="javascript:void(0)" class="product-title"> Event 3</a>
                                    <span class="product-description"> Event 3 description </span>
                                </div>
                            </li>
                            <!-- /.item -->
                            <li class="item">
                                <div class="product-img">
                                    <img src="{% static 'adminlte/dist/img/default-150x150.png' %}" alt="Product Image" class="img-size-50">
                                </div>
                                <div class="product-info">
                                    <a href="javascript:void(0)" class="product-title">Event 4</a>
                                    <span class="product-description"> Event 4 description </span>
                                </div>
                            </li>
                            <!-- /.item -->
                        </ul>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer text-center">
                        <a href="javascript:void(0)" class="uppercase">View All Events</a>
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!--/. container-fluid -->
</section>
<div id="formPopup" class="popup">
    <div class="popup-content">
        <form id="dynamicForm">
            <div>
                <label for="name">Chat Name:</label><br>
                <input type="text" id="cname" name="cname">
            </div>
            <div>
                <label for="name">User ID:</label><br>
                <input type="text" id="nameInput" name="name">
            </div>
            <div id="nameList"></div>
            <div>
                <br>
                <button id="popupadd" type="button" onclick="addUser(0,0)">Add Users</button>
                <br><br>
                <button id="popupsubmit" type="submit">Submit</button>
                <br><br>
                <button type="button" onclick="closeForm()"> Cancel</button>
            </div>
        </form>
    </div>
</div>
<!-- /.content -->
<script>
    let roomid = ""
    // create a chat socket link
    chatSocket = new WebSocket("ws://" + window.location.host+ "/" + "{{request.user.id}}");
    chatSocket.onopen = function (e) {
        console.log("The connection was setup successfully !");
    };

    chatSocket.onclose = function (e) {
        console.log("An unexpected error has occured.");
    };

    document.querySelector("#id_message_send_input").focus();

    document.querySelector("#id_message_send_input").onkeyup = function (e) {
        if (e.keyCode == 13) {
            document.querySelector("#id_message_send_button").click();
        }
    };

    document.querySelector("#id_message_send_button").onclick = function (e) {
        var inputbutton = document.querySelector("#id_message_send_button");
        var messageInput = document.querySelector("#id_message_send_input").value;

        if (roomid != "" && messageInput != ""){
            if(inputbutton.innerHTML == "Send"){
                chatSocket.send(JSON.stringify({ group:roomid, action:'send', message: messageInput, username : "{{request.user.first_name}}"}));
            }
            else if(inputbutton.innerHTML == "Save"){
                const messageid = inputbutton.getAttribute('data-message-id');
                chatSocket.send(JSON.stringify({ group:roomid, action:'edit', messageid:messageid, message: messageInput, username : "{{request.user.first_name}}"}));
                document.querySelector("#id_message_send_button").removeAttribute('data-message-id');
            }
            document.querySelector("#id_message_send_button").innerHTML = "Send";
            document.querySelector("#id_message_send_input").value = "";
        }
    };

    function deleteMessage(postid) {
        chatSocket.send(JSON.stringify({ group:roomid, action:'delete', messageid:postid, username : "{{request.user.first_name}}"}));
    }
    function editMessage(messageid){
        if (!document.querySelector("#id_message_send_button").getAttribute('data-message-id')){
            const messageElement = document.getElementById(messageid);
            const message = messageElement.querySelector('span').textContent.split(': ')[1].trim();
            const buttons = messageElement.querySelectorAll('button');
            buttons.forEach(button => button.remove());
            document.querySelector("#id_message_send_input").value = message;
            document.querySelector("#id_message_send_button").innerHTML = "Save";
            document.querySelector("#id_message_send_button").setAttribute('data-message-id', messageid);
        }
        else{
            console.log("edit already in progress")
        }
    }
    function leaveGroup(groupid) {
        removeGroup(groupid)
        chatSocket.send(JSON.stringify({ group:groupid, action:'leave', username : "{{request.user.first_name}}"}));
    }
    function destroyGroup(groupid) {
        removeGroup(groupid);
        chatSocket.send(JSON.stringify({ group:groupid, action:'destroy', username : "{{request.user.first_name}}"}));
    }
    function viewGroup(groupid){
        chatSocket.send(JSON.stringify({ group:groupid, action:'retrieve_chat_details', username : "{{request.user.first_name}}"}));
    }

    function removeGroup(groupid){
        const elementToRemove = document.querySelector(`[data-room='${groupid}']`);
            if (elementToRemove) {
                elementToRemove.parentNode.removeChild(elementToRemove);
                if (roomid == groupid){
                    document.querySelector('#chat_title').innerHTML = "Chat Messenger";
                    document.querySelector("#id_chat_item_container").innerHTML = "<span>No Chat Selected</span>"
                }
            }
    }
    
    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log(data);
        if (roomid === data.group){
            chatbox = document.querySelector("#id_chat_item_container");
            if (data.action == "message"){
                var div = document.createElement("div");
                div.id = data.message.id
                createMessage(div,data.message)
                chatbox.appendChild(div);
            };
            if (data.action == "edit"){
                const elementToEdit = document.getElementById(data.message.id);
                createMessage(elementToEdit,data.message);
            };
            if ( data.action == "chat_history"){
                chatbox.innerHTML = "";
                data.message.forEach(function(message) {
                    var div = document.createElement("div");
                    div.id = message.id;
                    createMessage(div,message);
                    chatbox.appendChild(div);
                    });
            };
            if (data.action == "chat_details" ){
                openForm()
                creatorid = data.message[0].userid.toString();
                data.message.forEach(function(message) {
                    document.getElementById('nameInput').value = message.uid;
                    addUser(message.userid,creatorid);
                })
                console.log(creatorid)
                console.log("{{request.user.id}}")
                if(creatorid != "{{request.user.id}}"){
                    console.log("in form")
                    document.getElementById("nameInput").style.display = 'none';
                    document.getElementById("popupsubmit").style.display = 'none';
                    document.getElementById("popupadd").style.display = 'none';
                }
            }
            if ( data.action == "delete"){
                const elementToRemove = document.getElementById(data.message.id);
                if (elementToRemove) {
                    elementToRemove.parentNode.removeChild(elementToRemove);
                }
            };
        }
        else{
            if (data.action == "leave"){
                removeGroup(data.group);
            };
        }
    };

    function createMessage(element,message){
        element.innerHTML = `
            <span>${message.username} : ${message.message}</span>
            ${"{{request.user.first_name}}" === message.username ? `
                <button type="button" class="btn btn-tool" onclick="deleteMessage(${message.id})">
                    <i class="fas fa-times"></i>
                </button>
                <button type="button" class="btn btn-tool" onclick="editMessage(${message.id})">
                    edit
                </button>
            ` : ''}
        `;
    }

    const contactItems = document.querySelectorAll('.contacts-list-item');
    contactItems.forEach(item => {
        item.addEventListener('click', () => {
            roomid = item.getAttribute('data-room');
            roomname = item.getElementsByClassName('contacts-list-name')[0].innerText;
            if (event.target.classList.contains('destroy-button') || event.target.classList.contains('leave-button')) {}
            else if(event.target.classList.contains('group-button')){
                console.log(roomname)
                document.getElementById("cname").value = roomname
            }
            else{
            document.querySelector('#chat_title').innerHTML = `${roomname}`;
            document.querySelector("#id_chat_item_container").innerHTML = "";
            chatSocket.send(JSON.stringify({ group:roomid, action:'retrieve', username : "{{request.user.first_name}}"}));

                document.querySelector('#chat_title').innerHTML = `${roomname}`;
                document.querySelector("#id_chat_item_container").innerHTML = "";
                chatSocket.send(JSON.stringify({ group:roomid, action:'retrieve_chat_history', username : "{{request.user.first_name}}"}));
            }
            document.getElementById('directChat').classList.remove('direct-chat-contacts-open');
        });
    });

    function openForm(){
        document.getElementById('formPopup').style.display = 'flex';
    };
    function closeForm(){
        console.log("closed form")
        document.getElementById("nameInput").style.display = "";
        document.getElementById("popupsubmit").style.display = "";
        document.getElementById("popupadd").style.display = "";
        document.getElementById('cname').value = "";
        document.getElementById('formPopup').style.display = 'none';
        document.getElementById('nameList').innerHTML = "";
    };
    
    function addUser(id,creatorid) {
        const nameList = document.getElementById('nameList');
        const nameItem = document.createElement('div');
        nameItem.className = 'name-item';
        const nameSpan = document.createElement('span');
        const nameInput = document.getElementById('nameInput').value.trim();
        if (nameInput){
            nameSpan.textContent = nameInput;
            const removeBtn = document.createElement('button');
            removeBtn.className = 'remove-btn';
            removeBtn.textContent = 'X';
            removeBtn.addEventListener('click', function() {
                nameList.removeChild(nameItem);
            });
            nameItem.appendChild(nameSpan);
            if ((id != "{{request.user.id}}") && creatorid == "{{request.user.id}}"){
                nameItem.appendChild(removeBtn);
            }
            nameList.appendChild(nameItem);
            document.getElementById('nameInput').value = "";
        }
    }
  </script> 
{% endblock %}
