{% extends "base-student.html" %}
{% block title %}Student Dashboard{% endblock %}

{% block content-wrapper %}
{% load static %}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Dashboard</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="{% url 'dashboard' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">My Courses</h5>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                                    <i class="fas fa-wrench"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" role="menu">
                                    <a href="#" class="dropdown-item">Action</a>
                                    <a href="#" class="dropdown-item">Another action</a>
                                    <a href="#" class="dropdown-item">Something else here</a>
                                    <a class="dropdown-divider"></a>
                                    <a href="#" class="dropdown-item">Separated link</a>
                                </div>
                            </div>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            {% for course in my_courses %}
                            <div class="col-12 col-sm-6 col-md-4">
								<div class="small-box bg-info">
									<div class="inner">
									  <h4>{{ course.course }}</h4>
									  <p>AY2023/24 Trimester 3</p>
									</div>
									<div class="icon">
									  <i class="fas fa-shopping-cart"></i>
									</div>
									<a href="{% url 'course' course.course_id %}" class="small-box-footer">
									  View Course <i class="fas fa-arrow-circle-right"></i>
									</a>
								</div>								  
							</div>
                            {% endfor %}
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- ./card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <div class="col-md-6">
                <!-- DIRECT CHAT -->
                <div class="card direct-chat direct-chat-warning" id="directChat">
                    <div class="card-header">
                        <h3 class="card-title">Chat Messenger</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" title="Contacts" data-widget="chat-pane-toggle">
                                <i class="fas fa-comments"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <!-- Conversations are loaded here -->
                        <div class="direct-chat-messages">
                            <div class="chat__item__container" id="id_chat_item_container" style="font-size: 20px">
                                <span>No Chat Selected</span>
                          </div>
                        </div>
                        <!--/.direct-chat-messages-->
                        <!-- Contacts are loaded here -->
                        <div class="direct-chat-contacts">
                            <ul class="contacts-list">
                                {% for chat in chats %}
                                <li class="contacts-list-item" data-room="{{chat.id}}">
                                        <!-- <img class="contacts-list-img" src="{% static 'adminlte/dist/img/user1-128x128.jpg' %}" alt="Group Picture"> -->
                                        <div class="contacts-list-info">
                                            <span class="contacts-list-name"> {{chat.name}}
                                            </span>
                                            <span class="contacts-list-msg">Filler Message</span>
                                        </div>
                                </li>
                                {% endfor %}
                                    <!-- /.contacts-list-info -->
                            </li>
                                <!-- End Contact Item -->
                            </ul>
                            <!-- /.contacts-list -->
                        </div>
                        <!-- /.direct-chat-pane -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="input-group">
                            <input type="text" id="id_message_send_input" name="message" placeholder="Type Message ..." class="form-control">
                            <span class="input-group-append">
                                <button type="button" id="id_message_send_button" class="btn btn-warning">Send</button>
                            </span>
                        </div>
                    </div>
                    <!-- /.card-footer-->
                </div>
                <!--/.direct-chat -->
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Events</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <ul class="products-list product-list-in-card pl-2 pr-2">
                            <li class="item">
                                <div class="product-img">
                                    <img src="{% static 'adminlte/dist/img/default-150x150.png' %}" alt="Product Image" class="img-size-50">
                                </div>
                                <div class="product-info">
                                    <a href="javascript:void(0)" class="product-title">Event 1</a>
                                    <span class="product-description"> Event 1 description </span>
                                </div>
                            </li>
                            <!-- /.item -->
                            <li class="item">
                                <div class="product-img">
                                    <img src="{% static 'adminlte/dist/img/default-150x150.png' %}" alt="Product Image" class="img-size-50">
                                </div>
                                <div class="product-info">
                                    <a href="javascript:void(0)" class="product-title">Event 2</a>
                                    <span class="product-description"> Event 2 description </span>
                                </div>
                            </li>
                            <!-- /.item -->
                            <li class="item">
                                <div class="product-img">
                                    <img src="{% static 'adminlte/dist/img/default-150x150.png' %}" alt="Product Image" class="img-size-50">
                                </div>
                                <div class="product-info">
                                    <a href="javascript:void(0)" class="product-title"> Event 3</a>
                                    <span class="product-description"> Event 3 description </span>
                                </div>
                            </li>
                            <!-- /.item -->
                            <li class="item">
                                <div class="product-img">
                                    <img src="{% static 'adminlte/dist/img/default-150x150.png' %}" alt="Product Image" class="img-size-50">
                                </div>
                                <div class="product-info">
                                    <a href="javascript:void(0)" class="product-title">Event 4</a>
                                    <span class="product-description"> Event 4 description </span>
                                </div>
                            </li>
                            <!-- /.item -->
                        </ul>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer text-center">
                        <a href="javascript:void(0)" class="uppercase">View All Events</a>
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!--/. container-fluid -->
</section>
<!-- /.content -->
<script>
    let roomid = ""
    // create a chat socket link
    chatSocket = new WebSocket("ws://" + window.location.host+ "/" + "{{request.user.id}}");

    chatSocket.onopen = function (e) {
        console.log(chatSocket);
        console.log("The connection was setup successfully !");
    };

    chatSocket.onclose = function (e) {
        console.log("An unexpected error has occured.");
    };

    document.querySelector("#id_message_send_input").focus();

    document.querySelector("#id_message_send_input").onkeyup = function (e) {
        if (e.keyCode == 13) {
            document.querySelector("#id_message_send_button").click();
        }
    };

    document.querySelector("#id_message_send_button").onclick = function (e) {
        var messageInput = document.querySelector("#id_message_send_input").value;
        if (roomid != "" && messageInput != "" ){
            chatSocket.send(JSON.stringify({ group:roomid, action:'send', message: messageInput, username : "{{request.user.first_name}}"}));
        }
    };
    
    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log(data)
        if (roomid == data.group){
            if (data.action == "message"){
                var div = document.createElement("div");
                div.innerHTML = `
                                <span>${data.username} : ${data.message}</span>
                            `;
                document.querySelector("#id_message_send_input").value = "";
                document.querySelector("#id_chat_item_container").appendChild(div);
            };
            
            if ( data.action == "chat_history"){
                data.message.forEach(function(message) {
                    var div = document.createElement("div");
                    div.innerHTML = `
                                <span>${message.username} : ${message.message}</span>
                            `;
                    document.querySelector("#id_chat_item_container").appendChild(div);
                    });
            }

        }
    };

    const contactItems = document.querySelectorAll('.contacts-list-item');
    contactItems.forEach(item => {
        item.addEventListener('click', () => {
            roomid = item.getAttribute('data-room');
            const container = document.querySelector("#id_chat_item_container");
            while (container.childNodes.length > 1) {
                container.removeChild(container.lastChild);
            }
            chatSocket.send(JSON.stringify({ group:roomid, action:'retrieve', username : "{{request.user.first_name}}"}));
            // fetch('dashboard/' + roomid)
            // .then(response => response.json())
            // .then(data => {
            //     data.forEach(function(message) {
            //         var div = document.createElement("div");
            //         div.innerHTML = `
            //                     <span>${message.username} : ${message.message}</span>
            //                 `;
            //         document.querySelector("#id_chat_item_container").appendChild(div);
            //     });
            // })
            
            document.getElementById('directChat').classList.remove('direct-chat-contacts-open');
        });
    });
  </script> 
{% endblock %}