{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block bodyclass %}hold-transition login-page{% endblock %}
{% load socialaccount %}

{% block content %}

<!-- Notifications -->
<!-- {% if messages %}
	<div class="mt-2 mb-3">
		{% for message in messages %}
			<div class="alert alert-danger alert-dismissible">
				{{ message }}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		{% endfor %}
	</div>
{% endif %} -->

<div class="login-box">
	<!-- /.login-logo -->
	<div class="card card-outline card-primary">
		<div class="card-header text-center">
			<a href="../../index2.html" class="h1"><b>Gen</b>LMS</a>
		</div>
		<div class="card-body">
			<p class="login-box-msg">Sign in to start your session</p>

			<div class="social-auth-links text-center mt-2 mb-3">
				<form action="/accounts/microsoft/login/" method="post">
					{% csrf_token %}
					<input type="hidden" name="next" value="/student/dashboard">
					<input type="submit" class="btn btn-block btn-primary" value="Sign in">
					<br/>
    			</form>
			</div>
			<!-- /.social-auth-links -->

			<p class="mb-1">
				<a href="https://account.live.com/ResetPassword.aspx" target="_blank">I forgot my password</a>
			</p>
		</div>
		<!-- /.card-body -->
	</div>
	<!-- /.card -->
</div>
<!-- /.login-box -->

{% endblock %}