<!-- replies.html -->
{% for reply in post.post_set.all %}
    {% if reply.deleted_at == null %}
    <div class="media mt-3 ml-4">
        <div class="media-body">
            <h6 class="mt-0">{{ reply.user.username }}</h6>
            <p>{{ reply.content|linebreaks }}</p>
            <small>{{ reply.created_at|date:"Y-m-d H:i" }}</small>
            <div>
                <span id="post-likes-{{ reply.id }}">{{ reply.total_likes }}</span> likes
                <button class="btn btn-link like-button" onclick="likePost({{ reply.id }})">
                    <i class="fas fa-thumbs-up"></i> Like
                </button>
                <button class="btn btn-link reply-button" onclick="replyPost({{ reply.id }})">
                    <i class="fas fa-reply"></i> Reply
                </button>
                {%if reply.user_id == request.user.id %}
                <button type="button" class="btn btn-link" onclick="window.location.href='{% url 'post_edit' reply.id %}'">
                    <i class="fas fa-pen"></i> Edit
                </button>
                <button type="button" class="btn btn-link" onclick="window.location.href='{% url 'post_delete' reply.id %}'">
                    <i class="fas fa-trash-alt"></i> Delete
                </button>
                {% endif %}
            </div>
            {% include 'replies.html' with post=reply %}
        </div>
    </div>
    {% endif %}
{% endfor %}
